node_modules/
.next/
.env.local
.env
*.log
.DS_Store
*.patch

# Sentry Config File
.env.sentry-build-plugin
.env.test
body.json
scripts/test-data.json

# Playwright
playwright-report/
test-results/
blob-report/
